* {
    background-color: transparent; 
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1 { font-size: 2.5em; font-weight: 350; }
h2 { font-size: 2.1em; font-weight: 300; }
h3 { font-size: 1.8em; font-weight: 300; font-style: oblique; }
h4 { font-size: 1.2em; font-weight: 300; font-style: oblique; }

p { 
    color: var(--grey);
    margin: 0px;
    padding: 0px;
}

input:focus { outline: 0.1rem solid var(--accent_a); outline-offset: 0.15rem; }

.flx-col {
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 1rem;
}

.flx-row {
    display: flex;
    flex-direction: row;
    width: 100%; 
    gap: 1rem;
}

::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.3rem;
    margin-block: 0.6rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent_aa);
    border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent_a);
}

:root {
    --dark: rgb(40, 40, 40);
    --dark_a: rgb(40, 40, 40, 0.7);
    --dark_aa: rgb(40, 40, 40, 0.4);

    --grey: rgb(175, 175, 175);
    --grey_a: rgb(175, 175, 175, 0.7);
    --grey_aa: rgb(175, 175, 175, 0.2);

    --light: rgb(230, 230, 230);
    --light_a: rgb(230, 230, 230, 0.7);
    --light_aa: rgb(230, 230, 230, 0.023);

    --red: rgb(200, 23,23);
    --red_a: rgb(200, 23,23, 0.7);
    --red_aa: rgb(200, 23,23, 0.4);

    --orange: rgb(230, 100, 0);
    --orange_a: rgb(230, 100, 0, 0.8);
    --orange_aa: rgb(230, 100, 0, 0.4);

    --yellow: rgb(230, 180, 20);
    --yellow_a: rgb(230, 180, 20, 0.7);
    --yellow_aa: rgb(230, 180, 20, 0.4);

    --green: rgb(88, 159, 56);
    --green_a: rgb(88, 159, 56, 0.7);
    --green_aa: rgb(88, 159, 56, 0.4);

    --aqua: rgb(50, 230, 230);
    --aqua_a: rgb(50, 230, 230, 0.7);
    --aqua_aa: rgb(50, 230, 230, 0.4);

    --blue: rgb(10, 100, 200);
    --blue_a: rgba(10, 100, 200, 0.7);
    --blue_aa: rgba(10, 100, 200, 0.4);

    --purple: rgb(140, 30, 230);
    --purple_a: rgb(140, 30, 230, 0.7);
    --purple_aa: rgb(140, 30, 230, 0.4);

    --pink: rgb(245, 30, 230);
    --pink_a: rgb(245, 30, 230, 0.7);
    --pink_aa: rgb(245, 30, 230, 0.4);

    --accent: var(--aqua);
    --accent_a: var(--aqua_a);
    --accent_aa: var(--aqua_aa);
    --accent_fg: var(--dark);
}

/* *:focus { outline: 0.1rem solid var(--light_a); outline-offset: 0.1rem; } */

.fg-accent { color: var( --accent_a); }

.bg-accent { background-color: var( --accent_a); color: var(--accent_fg) }
.bg-accent:hover { background-color: var(--accent); }    
.bg-accent:focus { outline: 0.1rem solid var(--accent_a); outline-offset: 0.15rem; }

.bg-dark { background-color: var(--dark_a); color: var(--light_a) }
.bg-dark:hover { background-color: var(--dark); }
.bg-dark:focus { outline: 0.1rem solid var(--grey_a); outline-offset: 0.15rem; }

.bg-grey { background-color: var(--grey_a); color: var(--dark) }
.bg-grey:hover { background-color: var(--grey); }
.bg-grey:focus { outline: 0.1rem solid var(--grey_a); outline-offset: 0.15rem; }

.bg-light { background-color: var(--light_a); color: var(--dark) }
.bg-light:hover { background-color: var(--light); }
.bg-light:focus { outline: 0.1rem solid var(--light_a); outline-offset: 0.15rem; }

.bg-red { background-color: var(--red_a); color: var(--light) }
.bg-red:hover { background-color: var(--red); }
.bg-red:focus { outline: 0.1rem solid var(--red_a); outline-offset: 0.15rem; }

.bg-orange { background-color: var(--orange_a); color: var(--light) }
.bg-orange:hover { background-color: var(--orange); }
.bg-orange:focus { outline: 0.1rem solid var(--orange_a); outline-offset: 0.15rem; }

.bg-yellow { background-color: var(--yellow_a); color: var(--dark) }
.bg-yellow:hover { background-color: var(--yellow); }
.bg-yellow:focus { outline: 0.1rem solid var(--yellow_a); outline-offset: 0.15rem; }

.bg-green { background-color: var(--green_a); color: var(--light) }
.bg-green:hover { background-color: var(--green); }
.bg-green:focus { outline: 0.1rem solid var(--green_a); outline-offset: 0.15rem; }

.bg-aqua { background-color: var(--aqua_a); color: var(--dark) }
.bg-aqua:hover { background-color: var(--aqua); }
.bg-aqua:focus { outline: 0.1rem solid var(--aqua_a); outline-offset: 0.15rem; }

.bg-blue { background-color: var(--blue_a); color: var(--light) }
.bg-blue:hover { background-color: var(--blue); }
.bg-blue:focus { outline: 0.1rem solid var(--blue_a); outline-offset: 0.15rem; }

.bg-purple { background-color: var(--purple_a); color: var(--light) }
.bg-purple:hover { background-color: var(--purple); }
.bg-purple:focus { outline: 0.1rem solid var(--purple_a); outline-offset: 0.15rem; }

.bg-pink { background-color: var(--pink_a); color: var(--light) }
.bg-pink:hover { background-color: var(--pink); }
.bg-pink:focus { outline: 0.1rem solid var(--pink_a); outline-offset: 0.15rem; }